.cannebiere {
    content: url(images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.hotelport {
    content: url(images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.mouettes {
    content: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.hotelmer {
    content: url(images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.lepanier {
    content: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.chezamina {
    content: url(images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.soleilmatin {
    content: url(images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.coeureau {
    content: url(images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.toutbleu {
    content: url(images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.vieuxport {
    content: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.pomegues {
    content: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.frioul {
    content: url(images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.calanques {
    content: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.delagarde {
    content: url(images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.longchamp {
    content: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

@media screen and (max-width: 1500px) {
    .cannebiere {
        content: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    .hotelport {
        content: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    .mouettes {
        content: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    .hotelmer {
        content: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    .lepanier {
        content: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    .chezamina {
        content: url(images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    .soleilmatin {
        content: url(images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }
    .coeureau {
        content: url(images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    .toutbleu {
        content: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    .vieuxport {
        content: url(images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    .pomegues {
        content: url(images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    .frioul {
        content: url(images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    .calanques {
        content: url(images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }
    .delagarde {
        content: url(images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    }
    .longchamp {
        content: url(images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }
}
@media screen and (max-width: 992px) {
    .cannebiere {
        content: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    .hotelport {
        content: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    .mouettes {
        content: url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    .hotelmer {
        content: url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    .lepanier {
        content: url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    .chezamina {
        content: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    .soleilmatin {
        content: url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }
    .coeureau {
        content: url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    .toutbleu {
        content: url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    .vieuxport {
        content: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    .pomegues {
        content: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    .frioul {
        content: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    .calanques {
        content: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }
    .delagarde {
        content: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    }
    .longchamp {
        content: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }
}
@media screen and (max-width: 767px) {
    .cannebiere {
        content: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    .hotelport {
        content: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    .mouettes {
        content: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    .hotelmer {
        content: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    .lepanier {
        content: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    .chezamina {
        content: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    .soleilmatin {
        content: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }
    .coeureau {
        content: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    .toutbleu {
        content: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    .vieuxport {
        content: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    .pomegues {
        content: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    .frioul {
        content: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    .calanques {
        content: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }
    .delagarde {
        content: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    }
    .longchamp {
        content: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }
}