@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
img {
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
    border-radius: 11px;
}
*{
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    height: 30px;
    margin-top: 30px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.anav {
    text-decoration: none;
    color: black;
    border-radius: initial;
    height: 70px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}
.heb{
    border-top: solid #0065FC;
    color:#0065FC;
    height:68px;
}
.hebergements{
    width: 150px;
    text-align: center;
    font-size: 13px;
    margin:0px;
}
.activites{
    width: 150px;
    text-align: center;
    font-size: 13px;
    margin:0px;
}
.trouvez {
    font-weight: bold;
    font-size: 110%;
}
.enplein{
    font-size:13px;
}
form{
    display:flex;
}
input[type=text] {
    width: 170px;
    height: 36.67px;
    border: solid 0.3px #00000026;
}
input[type=submit] {
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    width: 100px;
    background: #0065FC;
    color: white;
    border: none;
}
.sectionfiltres{
    display:flex;
}
.filtres {
    font-weight: bold;
    padding: 10px 10px 10px 0px;
    font-size: 110%;
}
.articlefiltre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.particlefiltre{
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
.aarticlefiltre {
    display: flex;
    height: 40px;
    border: solid 0.3px #00000026;
    border-radius: 20px;
    margin: 5px 10px;
}
.aarticlefiltre:hover{
    box-shadow: 0px 0px 20px 0px black;
}
.articlelogofiltre{
    display: flex;
    background: #DEEBFF;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position: relative;
    right: 4px;
}
.logofiltre{
    color:#0065FC
}
.plusde {
    font-size: 13px;
    margin: 0px 0px 0px 5px;
}
.sectionmarseillepopulaire{
    display:flex;
    flex-direction:row;
    margin-top:10px;
}
.sectionhebergement {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    max-width: 850px;
}
.imagehebergement{
    height: 100px;
    width: 210px;
    margin-top: 3px;
    border-radius: 10px;
}
.phebergements {
    font-weight: bold;
    margin-left: 10px;
    font-size: 110%;
}
.sectionhebergementarticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    padding: 0px 45px;
}
.ahebergement {
    text-decoration: none;
    color: black;
    border-radius: 11px;
    margin-bottom: 20px;
}
.articlehebergement{
    background: white;
    width: 220px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
}
.p1articlehebergement{
    margin: 3px;
    font-weight: bold;
    font-size: 13px;
    width:210px;
}
.p2articlehebergement{
    margin: 0px;
    font-size: 13px;
    margin-left: 3px;
    width: 210px;
}
.afficher {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
}
.sectionpopulaire{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 30px;
}
.ppopulaires {
    font-weight: bold;
    margin: 20px 0px 0px 10px;
    font-size: 110%;
}
.ssectionpopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.apopulaire {
    text-decoration: none;
    color: black;
    border-radius: 11px;
    margin: 15px;
    width:350px;
}
.articlepopulaire {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 11px;
}
.articlearticlepopulaire {
    display: flex;
    flex-direction: column;
    margin-right:5px;
}
.imagepopulaire {
    height: 120px;
    width: 120px;
    margin: 3px;
    border-radius: 10px 0px 0px 10px;
}
.p1articlearticlepopulaire{
    font-size:13px;
    font-weight:bold;
    margin:3px;
    margin-left:5px;
}
.p2articlearticlepopulaire{
    font-size:13px;
    margin:0px;
    margin-left:5px;
}
.etoiles2 {
    display: flex;
    margin: 30px 0px 5px 5px;
}
.activitesmarseille {
    font-weight: bold;
    font-size: 110%;
}
.sectionactivite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aactivite {
    text-decoration: none;
    color: black;
    border-radius: 11px;
    margin: 5px;
}
.articleactivite1{
    height: 310px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 11px #00000040;
}
.imageactivite1{
    height: 260px;
    border-radius: 10px 10px 0px 0px;
}
.particleactivite1{
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}
.articleactivite2{
    height: 150px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 11px #00000040;
}
.imageactivite2{
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}
.particleactivite2{
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}
.ssectionactivite1{
    display: flex;
    flex-direction: column;
}
.ssectionactivite2{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    background: #F2F2F2;
    margin-top: 30px;
    flex-direction: row;
}
.articlefooter1{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 20px;
}
.articlefooter2{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 20px;
}
.articlefooter3{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 20px;
}
.titre {
    font-weight: bold;
    font-size: 110%;
}
.articlemap {
    background: #F2F2F2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
}
.map{
    color:black;
}
.etoilebleu{
    color: #0065FC;
    font-size: 12px;
}
.etoilegris{
    color:#F2F2F2;
    font-size: 12px;
}
.etoiles{
    display: flex;
    width: 210px;
}
.articlelogopopulaire {
    display: flex;
    justify-content: space-between;
}
.logopopulaire {
    font-size: 18px;
    height: 18px;
    margin: 20px 10px 0px 0px;
}
aside {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.articlelogoinfo {
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    border: solid 0.2px #00000030;
    border-radius: 50px;
}
.info{
    font-size:12px;
    color:#0065FC;
}
@media (max-width: 768px) {
    .sectionmarseillepopulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .sectionpopulaire {
        margin-top: 30px;
    }
    .articleactivite1 {
        width: 230px;
    }
    .articleactivite2 {
        width: 230px;
    }
    footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (max-width:700px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .hebergements {
        height: 30px;
        border-bottom: solid #F2F2F2;
    }
    .anav{
        height:initial;
    }
    .heb{
        border-top:initial;
    }
    .hebergements {
        color:#0065FC;
        border-bottom: solid #0065FC;
    }
    .activites {
        height: 30px;
        border-bottom: solid #F2F2F2;
    }
    .activites:active {
        color:#0065FC;
        border-bottom: solid #0065FC;
    }
    .trouvez {
        text-align: center;
    }
    .enplein {
        text-align: center;
    }
    form {
        justify-content: center;
    }
    .sectionfiltres {
        flex-direction: column;
    }
    .articlefiltre {
        width:auto;
        flex-wrap: wrap;
    }
    .sectionmarseillepopulaire {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .sectionpopulaire {
        border-radius: initial;
        margin-left:initial;
    }
    .etoiles2 {
        margin-top: 10px;
    }
    .sectionhebergement {
        background: initial;
    }
    .phebergements {
        margin-left: initial;
        text-align: center;
    }
    .articlehebergement {
        box-shadow: 0px 0px 7px 0px #0000005e;
    }
    .sectionactivite {
        flex-direction: column;
        align-items: center;
    }
    .articleactivite1 {
        height: 150px;
        margin-bottom: 20px;
    }
    .imageactivite1 {
        height: 100px;
    }
    .articleactivite2{
        margin-bottom: 20px;
    }
    .ssectionactivite1 {
        margin-left: initial;
    }
    .ssectionactivite2 {
        margin-left: initial;
    }
    footer {
        flex-direction: column;
        height: 800px;
        justify-content: space-evenly;
    }
}

@media (max-width:430px){
    .apopulaire {
        width:initial;
    }
}